* {
  font-family: Arial, sans-serif;
  font-size: 17px;
}
* .cart {
  width: 75vw;
  min-height: 100vh;
}
* .cart .cart-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
* .cart .cart-body .cart-body-grid {
  margin: 0;
  width: 75%;
}
* .cart .cart-body .cart-body-grid .cart-body-grid-header {
  border: 1px black solid;
  border-radius: 15px;
  background-color: #222831;
  color: white;
  height: 48px;
  margin: 0 0 10px 0;
}
* .cart .cart-body .cart-body-grid .cart-body-grid-header .cart-body-grid-header-title {
  font-size: 24px;
  margin: 9px 20px;
}
* .cart .cart-body .cart-body-info {
  margin: 0 0 0 10px;
  padding: 20px;
  width: 24.5%;
  height: 510px;
  border-radius: 15px;
  background-color: #222831;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* .cart .cart-body .cart-body-info .cart-body-info-text {
  margin: 0;
}
* .cart .cart-body .cart-body-info .cart-body-info-text .cart-body-info-text-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
* .cart .cart-body .cart-body-info .cart-body-info-text .cart-body-info-text-header .cart-body-info-text-header-title {
  margin: 0;
  font-size: 24px;
  color: white;
}
* .cart .cart-body .cart-body-info .cart-body-info-text .cart-body-info-text-header .cart-body-info-text-header-sum {
  margin: 0;
  font-size: 24px;
  color: #acf4ff;
}
* .cart .cart-body .cart-body-info .cart-body-info-text .cart-body-info-text-delivery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0 0 0 ;
}
* .cart .cart-body .cart-body-info .cart-body-info-text .cart-body-info-text-delivery .cart-body-info-text-delivery-title {
  margin: 0;
  font-size: 15px;
  color: white;
}
* .cart .cart-body .cart-body-info .cart-body-info-text .cart-body-info-text-delivery .cart-body-info-text-delivery-sum {
  margin: 0;
  font-size: 15px;
  color: #acf4ff;
}
@media (max-width: 425px) {
  .cart {
    width: 100%;
  }
  .cart .cart-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
  }
  .cart .cart-body .cart-body-grid {
    width: 95%;
    margin: 0 10px;
  }
  .cart .cart-body .cart-body-info {
    width: 95%;
    height: 20vh;
  }
}
