.list-goods {
  max-width: 55vw;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.list-goods-mobile {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}
