a {
  text-decoration: none;
  color: inherit;
}
.header-mobile-menu-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #222831;
  color: white;
}
.header-mobile-menu-mobile .header-mobile-div-logo-links {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.header-mobile-menu-mobile .header-mobile-div-logo-links .header-mobile-logo {
  background-color: #00adb5;
  border-radius: 15px;
}
.header-mobile-menu-mobile .header-mobile-div-logo-links .header-mobile-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}
.header-mobile-menu-mobile .header-mobile-div-phone-order {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}
.header-mobile-menu-mobile .header-mobile-div-phone-order .header-mobile-phone {
  margin: 15px;
}
.header-mobile-menu-mobile .header-mobile-div-phone-order .header-mobile-phone .header-mobile-phone-number {
  font-size: 14px;
}
.header-mobile-menu-mobile .header-mobile-div-phone-order .header-mobile-phone .header-mobile-phone-city {
  font-size: 14px;
  color: #acf4ff;
}
.header-mobile-menu-mobile .header-mobile-div-phone-order .header-mobile-order-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.header-mobile-menu-mobile .header-mobile-div-phone-order .header-mobile-order-button .header-mobile-cart .header-mobile-cart-number {
  font-size: 11px;
  color: #acf4ff;
}
