* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
* .main-screen {
  font-family: Arial, sans-serif;
  font-size: 17px;
  width: 75vw;
}
* .main-screen .main-screen-content {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
