a {
  text-decoration: none;
  color: inherit;
}
.header-menu-tablet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 15px 15px;
  background-color: #222831;
  color: white;
}
.header-menu-tablet .header-tablet-div-logo-links {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.header-menu-tablet .header-tablet-div-logo-links .header-tablet-logo {
  background-color: #00ADB5;
  margin: 0 10px 5px 10px;
  border-radius: 15px;
}
.header-menu-tablet .header-tablet-div-logo-links .header-tablet-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  width: 80%;
}
.header-menu-tablet .header-tablet-div-phone-order {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.header-menu-tablet .header-tablet-div-phone-order .header-tablet-phone-number {
  margin: 0 15px 0 10px;
  font-size: 19px;
}
.header-menu-tablet .header-tablet-div-phone-order .header-tablet-phone-city {
  font-size: 14px;
  color: #acf4ff;
}
.header-menu-tablet .header-tablet-div-phone-order .header-tablet-order-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.header-menu-tablet .header-tablet-div-phone-order .header-tablet-order-button .header-tablet-cart .header-tablet-cart-number {
  font-size: 11px;
  color: #acf4ff;
}
