@primary-color: #222831;
@secondary-color: #00adb5;
@primary-font-color: white;
@secondary-font-color: rgb(172, 244, 255);

* {
  .order-processed {
    .order-processed-title {
      margin-top: 10px;
      padding: 20px;
      border-radius: 15px;
      width: 100%;
      background-color: @primary-color;
      color: @primary-font-color;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .order-processed-title-text {
        font-size: 24px;
        margin: 5px;
      }
    }

    .order-processed-qr {
      width: 100%;
      display: flex;
      margin-top: 20px;
    }
  }
}
